.home_container{
    height: 100%;
    width: 50%;
    margin: auto;
    display: block;
    font-family: $text-font;
    color: $qu-blue;
}
.textBox{
  font-size: 12pt;
  margin-top: 60px;


}
.submit{
    
}