// Fonts
@import url("https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Open+Sans:400,600,300");

// general
$qu-red: #9d1939;
$qu-gold: #eebd31;
$qu-blue: #11335d;
$offwhite: #FEFEFA;

// Font Families
$logo-font: 'Gentium Book Basic';
$text-font: 'Open Sans';
